@model uniTunes.UI.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- link rel="shortcut icon" href=""-->
    <title>UniTunes - Login</title>

    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/bundles/css")

</head>
<body>

    <div class="modal fade in" id="register-academic-modal" role="dialog" aria-labelledby="register-academic-modal" aria-hidden="true">
        <div class="modal-dialog" id="register-academic-container">
            <div class="modal-content" style="background-color:#e48817;">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div id="login-container" class="drop-shadow">

        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-signin", @role = "form" }))
        {
            <h1 class="form-signin-heading text-center"><i>uniTunes</i></h1>

            <hr class="colorgraph">

            <div class="form-group">
                @Html.TextBoxFor(x => x.User, new { @class = "form-control", required = "required", autofocus = "autofocus", placeholder = "Usuário", maxlength = "14", size = "14" })
            </div>
            <div class="a">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", required = "required", placeholder = "Senha", maxlength = "14", size = "14" })
            </div>

            <label class=" checkbox">
                <input type="checkbox" value="remember-me"> Lembrar?
            </label>

            <hr class="colorgraph">

            <button class="btn btn-warning btn-block login" type="submit">Entrar</button>
            <div class="text-center">
                <p>Não possui uma conta? <a id="register-academic" style="color:#6f3716" data-toggle="modal" data-target="#register-academic-modal">Registre-se aqui</a></p>
            </div>
        }
    </div>

    <script>
        $(document).ready(function () {
            $('#register-academic').click(function () {
                var url = "/Auth/Register"; // the url to the controller
                $.get(url, function (data) {
                    $('.modal-body').html(data);
                    $('#register-academic-modal').modal('show');
                });
            });
        });
    </script>

</body>
</html>
