@model uniTunes.UI.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- link rel="shortcut icon" href=""-->
    <title>UniTunes - Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-signin", @role = "form" }))
        {
            <h2 class="form-signin-heading">uniTunes</h2>
            @Html.TextBoxFor(x => x.User, new { @class = "form-control", required="required", autofocus="autofocus", placeholder="Usuário", maxlength = "14", size = "14"})
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", required = "required", placeholder = "Senha", maxlength = "14", size = "14" })
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Lembrar?
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        }
    </div>
</body>
</html>
