@model uniTunes.UI.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .box {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        margin: 10px;
    }
</style>
<div class="container" style="margin-top:30px;">
    <div class="row">

        @{
            foreach (var item in Model.Menus)
            {
                <div class="col-xs-4 col-8 col-sm-8 col-lg-8 box" style="background-color:@item.Color">
                    <span style="color:black;">@item.Name</span>
                </div>
            }
        }

    </div>
</div>
