@using uniTunes.UI;

<header>
    <div class="navbar navbar-default navbar-fixed-top drop-shadow" style="border-bottom: 1px solid #77A688" id="top" role="banner">
        <div class="container">
            <div>
                <ul class="nav navbar-nav" style="width: 100%;">
                    <li><a href="/Home/Index"><img src="@Url.Content("~/Content/Images/network.png")" style="width:32px; height: 32px; margin: -10px 0 -10px 0; padding: 0px; left:0px;" />&nbsp;UniTunes</a></li>
                    <li class="dropdown pull-right" style="cursor:pointer;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@(UserContext.Current != null ? UserContext.Current.User.FirstName : String.Empty) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="user-preferences" data-toggle="modal" data-target="#header-modal"><span class=" glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Preferências</a></li>
                            <li><a id="help-contact" data-toggle="modal" data-target="#header-modal"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Contato</a></li>
                            <li><a id="help-support" data-toggle="modal" data-target="#header-modal"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;Suporte</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Auth/Logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Logout</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a>Saldo: R$ @((UserContext.Current.User != null ? UserContext.Current.User.Balance : 0).ToString("0.00"))</a></li>
                    <li class="pull-right"><a id="shopping-cart" data-toggle="modal" data-target="#header-modal"><img src="@Url.Content("~/Content/Images/shopping-cart.png")" style="width:25px; height: 25px; margin: -10px 0 -10px 0; padding: 0px;" />&nbsp;<span class="badge">0</span></a></li>
                    <li><a href="#search">Procurar</a></li>5
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="modal fade in" id="header-modal" role="dialog" aria-labelledby="header-modal" aria-hidden="true">
    <div class="modal-dialog" id="header-container" style=" width: 650px;">
        <div id="header-modal-content" class="modal-content" style="background-color: #fff;">
            <div id="header-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        // Search - Inicio
        $('a[href="#search"]').on('click', function (event) {
            event.preventDefault();
            $('#search').addClass('open');
            $('#search > form > input[type="search"]').focus();
        });

        $('#search, #search button.close').on('click keyup', function (event) {
            if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });
        // Search - Fim

        $('#shopping-cart').click(function () {
            var url = "/Media/ShoppingCart";
            $.get(url, function (data) {
                $('#header-modal-body').html(data);
                $('#header-modal').modal('show');
            });
        });

        $('#help-support').click(function () {
            var url = "/Help/Support";
            $.get(url, function (data) {
                $('#header-modal-body').html(data);
                $('#header-modal').modal('show');
            });
        });

        $('#help-contact').click(function () {
            var url = "/Help/Contact";
            $.get(url, function (data) {
                $('#header-modal-body').html(data);
                $('#header-modal').modal('show');
            });
        });

        $('#user-preferences').click(function () {
            var url = "/Profile/Preferences";
            $.get(url, function (data) {
                $('#header-modal-body').html(data);
                $('#header-modal').modal('show');
            });
        });

    });


</script>
