<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>uniTunes</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header>
        @{
            //TODO: Criar header HTML estático
        }
    </header>>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        @{
            //TODO: Criar footer HTML estático
        }
    </footer>
</body>
</html>
