<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- link rel="shortcut icon" href=""-->
    <title>UniTunes</title>

    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/bundles/css")

</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top drop-shadow" style="border-bottom: 1px solid #77A688" id="top" role="banner">
            <div class="container">
                <div class="pull-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#search">Procurar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        @{
    //TODO: Criar footer HTML estático
        }
    </footer>

    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="Digite aqui" />
            <button type="submit" class="btn btn-primary">Procurar</button>
        </form>
    </div>
    <script>

        $(function () {
            $('a[href="#search"]').on('click', function (event) {
                event.preventDefault();
                $('#search').addClass('open');
                $('#search > form > input[type="search"]').focus();
            });

            $('#search, #search button.close').on('click keyup', function (event) {
                if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                    $(this).removeClass('open');
                }
            });

            $('form').submit(function (event) {
                event.preventDefault();
                return false;
            })
        });

    </script>
</body>
</html>

