
<div class="container">
    <div class="row">
            <div class="well well-sm" style="width:600px;">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center">Contato</legend>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name" style="color:black">Nome</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="Nome" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email" style="color:black">E-mail</label>
                            <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="E-mail" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message" style="color:black">Mensagem</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Por favor digite sua mensagem aqui..." rows="5"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>