<div class="container">
    <div class="row-fluid">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6924.758798431474!2d-51.15339125!3d-29.79558165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951968eda5d3a201%3A0x5eaff8cfc4e39f47!2sUniversidade+do+Vale+do+Rio+dos+Sinos!5e0!3m2!1spt-BR!2sbr!4v1403061006936" width="600" height="350" frameborder="0" style="border:0"></iframe>
        </div>

        <div style="color:black;">
            <h2>UniTunes HeadQuarters</h2>
            <address>
                <strong>Unisinos</strong><br>
                Avenida Unisinos 100<br>
                Cristo Rei<br>
                Rio Grande do Sul<br>
                Brasil<br>
                <abbr title="Phone">Telefone:</abbr> 3123-4321
            </address>
        </div>
    </div>
</div>