@model uniTunes.UI.ViewModels.AdministrationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string message = ViewContext.RouteData.Values["Message"] != null ? ViewContext.RouteData.Values["Message"].ToString() : string.Empty;
}

@Html.Partial("_Menu")

<div class="container">

    @if (!string.IsNullOrEmpty(message))
    {
        <div>
            @message
        </div>
    }

    <div class="row">
        <div id="menu">
            <ul style="margin: 0 auto;">
                @foreach (var item in Model.Menus)
                {
                    <li class="col-xs-4 col-8 col-sm-8 col-lg-8 box drop-shadow" style="@string.Format("background: {0} url(../../Content/images/{1}) no-repeat center center;", item.Color, item.Image)">
                        @Html.ActionLink(
                            item.Name,
                            item.Action,
                            item.Controller,
                            null,
                            new { @class = "menu-link" }
                        )
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
